.tchau {
    font-size: 16px;
    color:rgb(233, 182, 213);
}

#oi {
    color:brown ;
    text-align: center;
    font-size: 24px;
}

section {
    background-color: pink;
    display: flex;
    padding: 10px;
}

section h1 {
    padding: 21px;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 20px;
}

img {
    margin-left: 50px;
    width: 400px;
    height: 200px;
    object-fit: cover;
}


.roupas-container {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

.input-padrao {
    width: 250px;
    padding: 3px;
    font-family: Georgia;
    background-color: pink;
}

.botao {
    width: 260px;
    padding: 3px;
    font-family: Georgia;
    background-color: pink;
}














